
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/cats.css">
	<title>Cats Tab</title>
</head>
<body>
	<h1>Homepage</h1>
    <p>It works!</p>
    <h1>Everybody knows that {{ secret }} are the best!</h1>
	<p>Last updated: 11/7/18 by Romain.</p>
	
</body>
</html>


<!-- 
<html>
<head>
  <link rel="stylesheet" href="/static/cats.css">
</head>
<body>
<h1>Homepage</h1>
<p>It works!</p>
<h1>Everybody knows that {{ secret }} are the best!</h1>
<p>Last updated: 11/7/18 by Romain.</p>
</body>
</html>
 -->